
  <div class="col-md-12">
    <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!pollForm.valid">Save
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancel()">Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" formArrayName="questions">
          <div class="row"
            *ngFor="let questionCtrl of questionsControls; let i = index"
            [formGroupName]="i"
            style="margin-top: 2rem;">
            <div class="col-md-12">
              <div class="col-md-4">
                <label>Question {{i}}
                  <input
                    type="text"
                    class="form-control"
                    style="width: 415px"
                    formControlName="question">
                </label>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4 question">
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onDeleteQuestion(i)">
                    Delete question {{i}}
                </button>
              </div>
            </div>
            <div class="col-md-12" formArrayName="answerOptions">
              <div *ngFor="let answerOptionCtrl of questionCtrl.get('answerOptions').controls; let j = index">
                  <div class="col-md-12" [formGroupName]="j">
                    <div class="col-md-8">
                      <label>Answer {{j}}
                        <input
                          type="text"
                          class="form-control"
                          style="width: 400px"
                          formControlName="answer">
                      </label>
                    </div>
                    <div class="col-md-4 answer">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="onDeleteAnswer(questionCtrl.get('answerOptions'), j)">
                        Delete answer {{j}}
                      </button>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12 answer-add">
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="onAddAnswer(questionCtrl.get('answerOptions'))">
                    Add answer
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 question-add">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddQuestion()">
                Add Question</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


<pre>{{pollForm.value | json}}</pre>
