input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.question {
  padding-right: 0;
  padding-left: 87px;
  padding-top: 20px;
}

.question-add {
  padding-left: 543px;
}

.answer {
  padding-right: 0;
  padding-left: 100px;
  padding-top: 22px;
}

.answer-add {
  padding-left: 350px;
}
