<div class="container">
  <div class="row">
    <div class="col">
      <h2>Users</h2>
    </div>

    <div class="col justify-content-end">
      <button class="btn btn-primary mdl" [routerLink]="['./new']">
        <span>Create a new User</span>
      </button>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="users$ | async as users">
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Created</th>
            <th>Modified</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td><a [routerLink]="['./', user.id, 'view']">{{ user.id }}</a></td>
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.createdDate | date }}</td>
            <td>{{ user.lastModifiedDate | date }}</td>
            <td>
              <div class="btn-group">
                <button type="submit"
                        [routerLink]="['./', user.id, 'view']"
                        class="btn btn-info btn-sm ">
                  <span>View</span>
                </button>

                <button type="submit"
                        [routerLink]="['./', user.id, 'edit']"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                  <span>Edit</span>
                </button>

                <button type="button" (click)="deleteUser(user)"
                        class="btn btn-danger btn-sm">
                  <span>Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  </div>
</div>
