<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="userForm">
            <h2 id="myUserLabel">
                Create or edit a User
            </h2>

            <div *ngIf="user">
                <div class="form-group" [hidden]="!user.id">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id" formControlName="id" readonly>
                </div>

<!--              TODO: not editable for EDIT mode-->
                <div class="form-group">
                    <label class="form-control-label">Username</label>
                    <input type="text" class="form-control" name="username"
                           formControlName="username" [readonly]="user.id">

                    <div *ngIf="userForm.get('username')!.invalid && (userForm.get('username')!.dirty || userForm.get('username')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="userForm.get('username')?.errors?.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="userForm.get('username')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="userForm.get('username')?.errors?.pattern">
                            This field can only contain letters and digits.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">First Name</label>
                    <input type="text" class="form-control" name="firstName"
                           formControlName="firstName">

                    <div *ngIf="userForm.get('firstName')!.invalid && (userForm.get('firstName')!.dirty || userForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="userForm.get('firstName')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName"
                           formControlName="lastName">

                    <div *ngIf="userForm.get('lastName')!.invalid && (userForm.get('lastName')!.dirty || userForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="userForm.get('lastName')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" class="form-control" name="email" formControlName="email">

                    <div *ngIf="userForm.get('email')!.invalid && (userForm.get('email')!.dirty || userForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="userForm.get('email')?.errors?.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="userForm.get('email')?.errors?.maxlength">
                            This field cannot be longer than 100 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="userForm.get('email')?.errors?.minlength">
                            This field is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="userForm.get('email')?.errors?.email">
                            Your email is invalid.
                        </small>
                    </div>
                </div>
            </div>

            <div *ngIf="user">
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <span>Cancel</span>
                </button>

                <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
