<div class="row justify-content-center">
  <div class="col-8">
    <ng-container *ngIf="user$ | async as user">
      <div>
        <h2>
          <span>User</span> [<b>{{ user.username }}</b>]
        </h2>

        <dl class="row-md">
          <dt><span>Login</span></dt>
          <dd>
            <span>{{ user.username }}</span>
          </dd>

          <dt><span>First Name</span></dt>
          <dd>{{ user.firstName }}</dd>

          <dt><span>Last Name</span></dt>
          <dd>{{ user.lastName }}</dd>

          <dt><span>Email</span></dt>
          <dd>{{ user.email }}</dd>

          <dt><span>Created By</span></dt>
          <dd>{{ user.createdBy }}</dd>

          <dt><span>Created Date</span></dt>
          <dd>{{ user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>

          <dt><span>Last Modified By</span></dt>
          <dd>{{ user.lastModifiedBy }}</dd>

          <dt><span>Last Modified Date</span></dt>
          <dd>{{ user.lastModifiedDate | date:'dd/MM/yy HH:mm' }}</dd>

          <dt><span>Profiles</span></dt>
          <dd>
            <ul>
              <li *ngFor="let authority of user.authorities">
                <span>{{ authority }}</span>
              </li>
            </ul>
          </dd>
        </dl>

        <button type="submit" routerLink="../../" class="btn btn-info">
          <!--                <fa-icon icon="arrow-left"></fa-icon>-->
          <span>Back</span>
        </button>
      </div>
    </ng-container>
  </div>
</div>
