<ng-container *ngIf="poll$ | async as poll; else loading">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ poll.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Poll <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onEditPoll()">Edit Poll</a></li>
          <li><a style="cursor: pointer;" (click)="onDeletePoll()">Delete Poll</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ poll.description }}
    </div>
  </div>
  <div class="form-group">
    <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!pollForm.valid">
            Submit
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" formArrayName="questions">
          <div class="row"
               *ngFor="let question of poll.questions; let i = index"
               [formGroupName]="i"
               style="margin-top: 2rem;">
            <div> {{ question.question }} </div>
            <div>
              <label>
                <select formControlName = "selectedAnswer">
                  <option *ngFor="let answerOption of question.answerOptions"
                          [value]="answerOption.id">
                    {{answerOption.answer}}
                  </option>
                </select>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>
<ng-template #loading>
  Loading stuff...
</ng-template>

<pre>{{pollForm.value | json}}</pre>
