<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div *ngIf = "isLoginMode">
      <app-signin></app-signin>
    </div>
    <div *ngIf = "!isLoginMode">
      <app-signup></app-signup>
    </div>
    <button
      class="btn btn-primary"
      type="button"
      (click)="isLoginMode = !isLoginMode">
      Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
    </button>
  </div>
</div>
