<a style="cursor: pointer;"
  [routerLink]="[poll.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">

  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ poll.name }}</h4>
    <p class="list-group-item-text">{{ poll.description }}</p>
  </div>
</a>
