<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="col-md-8">
      <div class="alert alert-danger" *ngIf="false">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="5"
        />
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid">
          Login
        </button>
      </div>
    </form>
  </div>
</div>

