<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewPoll()">New Poll</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-poll-item *ngFor="let poll of polls$ | async"
      [poll]="poll">
    </app-poll-item>
  </div>
</div>

